#eventMaster {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#eventSelect {
    margin: 20px 0px 10px 0px;
}

.events {
    margin: auto auto 40px auto;
    padding: 5px;
}

#entrants {
    margin: 20px auto 3px auto;
}

.entryFee {
   margin: 3px auto;
}

.dqs {
    margin: 3px auto 57px auto;
}

div input {
    margin: 0px 2px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}