@media screen and (max-width: 699px){
    #tpc {
        display: none;
    }

    #home {
        margin: 0% 0% 0% 20%;
    }

    #faq {
        margin: 0% 20%;
    }

    #feedback {
        margin: 0% 20% 0% 0%;
    }
}



@media screen and (min-width: 700px){
    #header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 10px 0px;
    }
    
    #tpc {
        margin: 0% 30% 0% 5%;
    }
    
    #feedback {
        margin: 0% 5% 0% 5%;
    }
    
    #faq {
        margin: 0% 5%;
    }
    
    #home {
        margin: 0% 5%;
    }
}




#header a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    
}
#hr {
    border: 2px solid black;
}